<div class="container-fluid pt-2" style="height: 75vh;overflow-y: auto;">
    <div class="card ">
        <div class="card-body">
            <div class="card bg-custom-primary" *ngIf="this.endtripheader!='End Trip'">
                <div class="card-body">
                    <h3 class="mb-0">{{endtripheader}}</h3>
                </div>
            </div>
            <div class="row " [ngClass]="{'mt-2':this.endtripheader!='End Trip'}">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <app-datepicker ngDefaultControl [(ngModel)]="datevalue" name="datevalue" [minDate]="mindate" (dateValueChange)="getDate($event)"></app-datepicker>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <app-timepicker  ngDefaultControl [(ngModel)]="timevalue" name="timevalue" (valueChange)="getTime($event)" [baseparamtime]="basetime"></app-timepicker>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <app-numericinput ngDefaultControl [(ngModel)]="kmvalue" name="kmvalue" [kmstatus]="kmerrorstatus"  (valueChange)="getKmValue($event)" [validatevalue]="minkm"></app-numericinput>
                </div>
                <div Class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <app-textinput ngDefaultControl [(ngModel)]="remarks" name="remarks" [textstatus]="texterrorstatus" (valueChange)="getTextValue($event)" [placeholder]="'Remarks'"></app-textinput>
                </div>
            </div>
            <div class="row mt-2" [hidden]="endtripstage==1">
                <div class="col-12">
                    <app-text-widget [widgetvaluefirst]="this.minkm" [widgetvaluesecond]="this.usedkm"></app-text-widget>
                </div>
            </div>
            <div class="col-12">
                <label for="formFile" class="form-label">Upload Images</label>
                <input class="form-control" type="file" id="formFile" multiple (change)="onFileChange($event)" [accept]="acceptedfiles">
                <div class="row mt-4">
                    <div class="col-6 col-md-4 col-lg-3 col-xl-3 mb-1" *ngFor="let item of items">
                        <div class="img-container position-relative">
                            <img [src]="item.url" class="img-fluid img-thumbnail rounded">
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" (click)="onDeleteItem(item)">
                                <mat-icon>delete</mat-icon>
                                <span class="visually-hidden">delete image</span>
                            </span>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12" #imagemarkercontainer>
                    <div class="imagemarkercontainer text-center">
                        <signature-pad #signature [options]="this.signaturePadOptions" (drawStart)="drawStart($event)" (drawEnd)="drawComplete($event)" style="background: transparent;"></signature-pad>
                        <div class="text-center mt-2">
                            <button type="button" class="btn btn-outline-secondary" (click)="onClearSignature();">Clear Signature</button>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            <div class="row mt-2">
                <button mat-raised-button color="primary" class="w-100" (click)="onSubmit()">Save Changes</button>
            </div>
        </div>
    </div>
    <app-bottomnav [selectedMenu]="'starttrip'"></app-bottomnav>
</div>