<div class="container-fluid" style="height: 75vh;overflow-y: auto;">
    <form>
        <div class="card w-100 mx-auto" style="margin-top: 1rem;">
            <div class="card-body">
                <!--<div class="card bg-custom-primary mb-2">
                    <div class="card-body pb-1 pt-1">
                        <h3 class="card-title mb-1 mt-1 text-light">Create Receipt</h3>
                    </div>
                </div>-->
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <app-dropdown ngDefaultControl [(ngModel)]="brhid" name="brhid" (valueChange)="getListValue($event,'Branch')" [labelvalue]="'Select Branch'" [placeholder]="'Branch'" [type]="'branch'"></app-dropdown>    
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <app-autocomplete [type]="'client'" [labelvalue]="'Select Client'" ngDefaultControl [(ngModel)]="clientvalue" name="clientvalue" (valueChange)="getAutoListValue($event,'Client')"></app-autocomplete>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <app-dropdown ngDefaultControl [(ngModel)]="paytype" name="paytype" (valueChange)="getListValue($event,'PayType')" [labelvalue]="'Select Type'" [placeholder]="'Type'" [type]="'paytype'"></app-dropdown>    
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6" [hidden]="this.paytype!='2'">
                        <app-dropdown ngDefaultControl [(ngModel)]="cardtype" name="cardtype" (valueChange)="getListValue($event,'CardType')" [labelvalue]="'Select Card Type'" [placeholder]="'Card Type'" [type]="'cardtype'" [foreignkey]="this.paytype"></app-dropdown>    
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6" [hidden]="this.paytype!='2'">
                        <app-textinput ngDefaultControl [(ngModel)]="cardvalue" name="cardvalue" [textstatus]="cardnoerrorstatus"  (valueChange)="getTextValue($event,'Card')" [placeholder]="'Card No'" [isNumeric]="true"></app-textinput>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6" [hidden]="this.paytype!='3'">
                        <app-textinput ngDefaultControl [(ngModel)]="chequevalue" name="chequevalue" [textstatus]="chequenoerrorstatus"  (valueChange)="getTextValue($event,'Cheque')" [placeholder]="'Cheque No'"></app-textinput>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6" [hidden]="this.paytype!='3'">
                        <app-datepicker ngDefaultControl [(ngModel)]="chequedatevalue" name="chequedatevalue" [minDate]="minchequedate" (dateValueChange)="getDate($event)"></app-datepicker>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                        <app-numericinput ngDefaultControl [(ngModel)]="amountvalue" name="amountvalue" [kmstatus]="amounterrorstatus"  (valueChange)="getNumericValue($event,'Amount')" [labelvalue]="'Amount'" [alignstyle]="'right'"></app-numericinput>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <app-textinput ngDefaultControl [(ngModel)]="descvalue" name="descvalue" [textstatus]="texterrorstatus" (valueChange)="getTextValue($event,'Description')" [placeholder]="'Description'"></app-textinput>
                    </div>
                </div>
                <button mat-raised-button color="primary" class="w-100" (click)="onSubmit()">Save Changes</button>
            </div>
        </div>
    </form>
    <app-bottomnav [selectedMenu]="'receipt'"></app-bottomnav>
</div>