@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');
html,body,input,section *{
    font-family: 'Poppins', sans-serif;
}
.bg-custom-primary{
    background-color: #3f51b5;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    color: #fff;
}
.form-control:focus{
    box-shadow: 0 0 0 0.075rem rgb(13 110 253 / 25%);
    
}
