<div class="row">
    <div class="col-xxl-9">
        <div class="card mb-2">
            <div class="row row-cols-xl-2 row-cols-1 row-cols-md-2 g-0">
                <div class="col">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <span class="fw-semi-bold">{{widgetheaderfirst}}</span>
                                <h2 class="mb-0 mt-0 fw-bold">{{widgetvaluefirst | number:'1.0-0'}}</h2>
                            </div>
                            <div class="icon-shape icon-lg bg-success text-light rounded-3"><mat-icon>{{widgeticonfirst}}</mat-icon></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body border-start">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <span class="fw-semi-bold">{{widgetheadersecond}}</span>
                                <h2 class="mb-0 mt-0 fw-bold">{{widgetvaluesecond | number:'1.0-0'}}</h2>
                            </div>
                            <div class="icon-shape icon-lg bg-success text-light rounded-3"><mat-icon>{{widgeticonsecond}}</mat-icon></div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>



